[Desktop Entry]
Name=Obsidian
Comment=Markdown Notetaking App
GenericName=Text Editor
Type=Application
Exec={{- .chezmoi.rawHomeDir -}}/.local/bin/obsidian %U
Icon={{- .chezmoi.rawHomeDir -}}/.local/share/icons/obsidian-icon.png
StartupWMClass=obsidian
Terminal=false
Categories=Office;Utility;
MimeType=x-scheme-handler/obsidian;

